**:root{
    --DmC_font: "Stardos Stencil";

}


body{
    background-image: url(./imagenes/da185f8f-d913-4265-98fc-613176193dfc.sized-1000x1000-1-900x507.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}



.regresar{
    text-decoration: none;

    position: absolute;
    top: 20px;
    left: 20px;

    font-size: 25px;
    color: red;
    padding: 0;
    outline: red solid 3px;
    background-color: black;
    border-radius: 3px;
    padding: 5px;
}  


.Devil_tittle{
    display: flex;
    justify-content: center;

    margin: 80px auto 0;

    width: 280px;

}


.links_DmC{
     display: flex;
    justify-content: center;

    padding: 10px;

    text-decoration: none;
    font-family: Stardos Stencil;
    font-size: 40px;
    color: rgb(255, 0, 0);
    text-shadow: 
    -2px -2px 0 hsl(0, 0%, 0%),
     2px -2px 0 hsl(0, 0%, 0%),
    -2px  2px 0 hsl(0, 0%, 0%),
     2px  2px 0 hsl(0, 0%, 0%);
}